<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Waiting for Dawn | Heather Billings</title>
        <link rel="stylesheet" href="/files/capstone.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="/files/js/jqplot/jquery.jqplot.css" />
		<link rel="stylesheet" type="text/css" href="/files/js/jqplot/examples/examples.css" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab|Vollkorn">
		
		<script src="/files/js/jquery-1.5.js" type="text/javascript" charset="utf-8"></script>
		<script language="javascript" type="text/javascript" src="/files/js/jqplot/jquery.jqplot.js"></script>
		<script language="javascript" type="text/javascript" src="/files/js/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
		<script language="javascript" type="text/javascript" src="/files/js/jqplot/plugins/jqplot.highlighter.js"></script>
		<script language="javascript" type="text/javascript" src="/files/js/jqplot/plugins/jqplot.cursor.js"></script>
		
		{% block head_includes %}
		{% endblock %}
	</head>
	<body>
		<section id="splash">
			{% block intro %}
			{% endblock %}
		</section>
		<header>
			{% block head %}
			{% endblock %}
		</header>
		<section id="content">
			{% block content %}
			{% endblock %}
		</section>
		<footer>
			{% block menu %}
			{% endblock %}
		</footer>
	</body>
</html>