{% extends "base.html" %}
{% block intro %}
	<h3>"How do people<br>go to sleep?<br>I'm afraid<br>I've lost<br>the knack." <br>(Dorothy Parker)</h3>
	<h1>waiting for <span style="color: #fcfebf;">dawn</span></h1>
	<div id="snooze_button">
		<p><a href="/calendar/">[greet the day]</a><a href="lightboxed-redeyes-video">[hit 'snooze']</a></p>
	</div>
{% endblock %}
<!--I put a piece of paper under my pillow, and when I could not sleep I wrote in the dark.
Henry David Thoreau
Sometimes I sleep. Sometimes it's not for days.
Bon Jovi
Deep breath. Swan dive. Hello, future.
me-->