{% extends "base.html" %}
{% block head %}
	<h3>"Sometimes <br>I sleep. <br>Sometimes <br>it's not <br>for days."<br>(Bon Jovi)</h3>
	<h1>waiting for <span style="color: #FCFEBF;">dawn</span></h1>
		
{% endblock %}

{% block content %}
<div id="time"><h2>{{ semester }}</h2></div>
<ol id="timeline">
	<ul>
	{% for activity in semester.activity_set.all %}
			<li><h3><a href={{ activity.link }}>{{ activity.name }}</a></h3>
				{{ activity.description }}
			</li>
			<!--<li class="hidden" id="{{ slug }}"><p>{{ activity.description }}</p></li>-->
	{% endfor %}
	
	</ul>
</ol>
{% endblock %}
{% block menu %}

{% endblock %}