{% extends "base.html" %}
{% block content %}
<!--<ol id="timeline">

  <li>
    <h3>Projects</h3>
    <ul>
		<li>a website I did</li>
		<li>an interactive I made</li>
	</ul>
  </li>

  <li>
    <h3>Classes</h3
    <ul>
		<li>some bullshit I got graded on</li>
	</ul>
  </li>

  <li>
    <h3>Extracurricular</h3>
    <ul>
		<li>a conference I went to</li>
	</ul>
  </li>

  <li>
    <h3>Lessons Learned</h3>
    <ul>
		<li>I drank too much coffee</li>
		<li>Flash is sometimes the answer</li>
	</ul>
  </li>
</ol>-->
{% endblock %}
{% block menu %}
<div id="chart1" class="plot" style="width:800px;height:100px;"></div>
{% endblock %}